<div class="pure-g">
    <nav class="navbar">
        <div class="pure-u-md-2-5 pure-u-1">
            <div class="title"><a href="">Jerred Shepherd</a></div>
        </div>
        <div class="pure-u-md-3-5 pure-u-1">
            <div class="navbar-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="https://medium.com/@@ShepherdJerred">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>