footer {
  text-align: center;
  background-color: #323940;
  color: #fff;

  .attribution {
    padding: 30px 0;
    a {
      font-size: 12px;
      text-decoration: none;
      color: #fff;
    }
  }

  .social {
    padding: 10px 0px;
    background-color: lighten(#323940, 2%);

    i {
      color: lighten(#323940, 35%);
      margin-right: 5px;
      font-size: 20px;
      transition: all .33s ease;
    }

    i:hover {
      color: #FF3363;
    }

    & :last-child i {
      margin-left: 5px;
    }
  }
}