.intro {
  //background: #663399;
}

.intro__body {
  padding: 6rem 1.5rem;
}

.intro__title {
  //color: #fff;
  font-size: 3rem;
}

.intro__subtitle {
  //color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 0.5rem !important;
}

.text--amazon {
  color: #ff9900;
}

.text--rstudio {
  color: #007bff;
}
