@components.base(title = "About | Shepherd Jerred") {
    @components.navbar()

    <div class="pure-g">
        <div class="pure-u-1">
            <div class="page_header">
                <div>
                    <h1>About</h1>
                </div>
            </div>

            <div class="pure-g">
                <div class="pure-u-1-4"></div>
                <div class="pure-u-1-2">
                    <div class="about-bg">
                        <p>
                            I'm a developer who loves learning new things. Coding is my passion, and I love challenging myself to improve what I can do. I try to open source everything that I can, because I believe that others can help me improve my code, and that my code can help others improve themselves.
                        </p>
                        <p>
                            Currently I am a sophomore attending <a href="http://www.harding.edu/">Harding University</a>. I am pursuing a BS in computer science, and plan to graduate in 2019. Afterwards I hope to become a software developer for a tech company, or to start a tech company of my own.
                        </p>
                        <p>
                            I started as a web developer about 4 years ago, mostly using the <a href="http://getbootstrap.com/">Twitter Bootstrap</a> CSS framework. I created a couple of paid site templates that had surprising success and remain a great achievement of mine. I recently started using Yahoo's <a href="http://purecss.io/">Pure.css</a> CSS library, which I have fallen in love with due to its simplicity.
                        </p>
                        <p>
                            A little more than a year and a half ago I committed to learning Java. Since then I've created many plugins for the Bukkit API (An extension of the Minecraft server). This has probably been the most important experience in my career, as it taught me many programming concepts, and gave me experience in creating actual applications.
                        </p>
                        <p>
                            I also enjoy using the <a href="https://www.playframework.com/">Play Framework</a> for backend development, and use it as the backend for a couple of sites, such this website, and a <a href="http://www.redwarfare.com:8080/">stats page</a> for a Minecraft server I am a developer for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

} {
    @components.footer()
}